           <!--banner start -->
           <section class="irch-banner pt-0">
            <div class="container-fluid p-0">
                <div class="irch-ban-carousel owl-carousel owl-theme">
                    <div class="item">
                        <div class="overlay">
                            <img src="assets/images/ban-img.png" class="img-fluid">
                        </div>
                        <div class="irch-ban-content">
                            <div class="container">
                                <div class="row">
                                    <div class="col col-12 col-md-12 col-lg-6">
                                        <h6>Showcasing cultural & natural heritages of St Maarten</h6>
                                        <h1>I Remember Intangible Cultural Heritage</h1>
                                        <p>Whether you’re an adventure enthusiast, a cultural nerd or a nature lover, there are several UNESCO Heritage sites (cultural & natural) in St.Maarten to feed your interest, ranging from architecture marvels
                                            to natural wonders.
                                        </p>
                                        <a href="#" class="btn irch-ban-btn">
                                            Discover More
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="overlay">
                            <img src="assets/images/ban-img.png" class="img-fluid">
                        </div>
                        <div class="irch-ban-content">
                        <div class="container">
                                <div class="row">
                                    <div class="col col-12 col-md-12 col-lg-6">
                                        <h6>Showcasing cultural & natural heritages of St Maarten</h6>
                                        <h1>I Remember Intangible Cultural Heritage</h1>
                                        <p>Whether you’re an adventure enthusiast, a cultural nerd or a nature lover, there are several UNESCO Heritage sites (cultural & natural) in St.Maarten to feed your interest, ranging from architecture marvels
                                            to natural wonders.
                                        </p>
                                        <a href="#" class="btn irch-ban-btn">
                                           Discover More
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="overlay">
                            <img src="assets/images/ban-img.png" class="img-fluid">
                        </div>
                        <div class="irch-ban-content">
                            <div class="container">
                                <div class="row">
                                    <div class="col col-12 col-md-12 col-lg-6">
                                       <h6>Showcasing cultural & natural heritages of St Maarten</h6>
                                        <h1>I Remember Intangible Cultural Heritage</h1>
                                        <p>Whether you’re an adventure enthusiast, a cultural nerd or a nature lover, there are several UNESCO Heritage sites (cultural & natural) in St.Maarten to feed your interest, ranging from architecture marvels
                                            to natural wonders.
                                         </p>
                                        <a href="#" class="btn irch-ban-btn">
                                            Discover More
                                        </a>
                                      </div>
                                  </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--banner end -->