<!-- main page wrapper start -->
<div class="page-wrap">

    <!-- place start -->
    <section class="irch-place">
        <div class="container">
            <div class="row align-items-center text-center">
                <div class="col-md-12">
                    <h1>{{place.place_title}}</h1>
                    <p>{{place.place_description}}</p>
                </div>
            </div>
        </div>
    </section>
    <!-- place end -->

         <!-- place content -->
         <section class="irch-place-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <a href="#" class="irch-back">
                            <svg xmlns="http://www.w3.org/2000/svg" class="mr-2" width="17.182" height="11.046" viewBox="0 0 17.182 11.046">
                                <g id="back" transform="translate(-510.25 -4225.75)">
                                  <g id="Forward_arrow" data-name="Forward arrow" transform="translate(510.25 4225.75)">
                                    <path id="Path_10" data-name="Path 10" d="M-4.477,0l1,1-3.8,3.8H7.182V6.24H-7.274l3.8,3.8-1,1L-10,5.523Z" transform="translate(10)" fill="#202b5d"/>
                                  </g>
                                </g>
                              </svg> Back to maps
                        </a>
                        <div class="irch-place-details">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                                laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
                                anim id est laborum.</p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                                in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet,
                                consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                                dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- place content end-->

        <!-- gallery -->
        <section class="irch-gallery">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h6>Image Gallery</h6>
                        <h3 class="mb-5">Explore Test Place 1</h3>
                    </div>
                </div>
                <div class="irch-gallery-carousel irich-place-img-slider">
                    <div id="placegallery" class="gallery-carousel owl-carousel">
                        <div class="item">
                            <div class="gallery-bx">
                                <div class="gallery-img">
                                    <img src="assets/images/g-img.png" class="img-fluid" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="gallery-bx">
                                <div class="gallery-img">
                                    <img src="assets/images/g-img.png" class="img-fluid" alt="">
                                </div>

                            </div>
                        </div>
                        <div class="item">
                            <div class="gallery-bx">
                                <div class="gallery-img">
                                    <img src="assets/images/g-img.png" class="img-fluid" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="gallery-bx">
                                <div class="gallery-img">
                                    <img src="assets/images/g-img.png" class="img-fluid" alt="">
                                </div>

                            </div>
                        </div>
                        <div class="item">
                            <div class="gallery-bx">
                                <div class="gallery-img">
                                    <img src="assets/images/g-img.png" class="img-fluid" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="gallery-bx">
                                <div class="gallery-img">
                                    <img src="assets/images/g-img.png" class="img-fluid" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- gallery end-->

        <!-- video -->
        <section class="irch-place-video">
            <div class="container-fluid p-0">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h6>Video Gallery</h6>
                        <h3 class="mb-5">Watch Videos</h3>
                    </div>
                </div>
                <div id="irch-v-carousel" class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="overlay">
                            <video src="assets/images/product.mp4" id="irch_video" muted poster="assets/images/g-img3.png"></video>
                        </div>
                        <div class="video-details">
                            <div class="video-icon">
                                <button class="btn-play" data-toggle="modal" data-target="#videoModal">
                                    <i class="fas fa-play"></i>
                                </button>

                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="overlay">
                            <video src="assets/images/product.mp4" id="irch_video" poster="assets/images/g-img.png"></video>
                        </div>
                        <div class="video-details">
                            <div class="video-icon">
                                <button class="btn-play" data-toggle="modal" data-target="#videoModal">
                                    <i class="fas fa-play"></i>
                                </button>

                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="overlay">
                            <video src="assets/images/product.mp4" id="irch_video" autoplay loop playsinline muted></video>
                        </div>
                        <div class="video-details">
                            <div class="video-icon">
                                <button class="btn-play" data-toggle="modal" data-target="#videoModal">
                                    <i class="fas fa-play"></i>
                                </button>

                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="overlay">
                            <video src="assets/images/product.mp4" id="irch_video" autoplay loop playsinline muted></video>
                        </div>
                        <div class="video-details">
                            <div class="video-icon">
                                <button class="btn-play" data-toggle="modal" data-target="#videoModal">
                                    <i class="fas fa-play"></i>
                                </button>

                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </section>
        <!-- video end-->

</div>
<!-- page wrapper end -->