@media screen and (min-width:1201px) and (max-width:1600px) {
    .irch-nav.navbar-nav .nav-item .nav-link {
        padding: 12px;
    }
}

@media screen and (min-width:1025px) and (max-width:1200px) {
    /* home page */
    .inquiry {
        display: none !important;
    }
    .irch-nav.navbar-nav .nav-item .nav-link {
        padding: 12px 15px;
    }
    .irch-ban-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-45%, -50%);
        z-index: 1;
        width: 100%;
    }
    .irch-ban-content h1 {
        font-size: 45px;
    }
    .irch-ban-content p {
        max-width: 780px;
        margin-bottom: 20px;
    }
    .irch-heritage-details {
        padding-top: 30px;
    }
    .irch-heritage {
        padding-bottom: 50px;
    }
    .irch-gallery {
        margin-top: 0px;
        padding-bottom: 50px;
    }
    .irch-blog,
    footer {
        padding-top: 40px;
    }
    .foot-privacy a {
        margin: 0px 5px;
    }
    .foot-privacy a span {
        padding: 0px 10px;
    }
    /* home page end */
}

@media screen and (min-width:992px) and (max-width:1024px) {
    /* home page */
    .inquiry {
        display: none !important;
    }
    .irch-nav.navbar-nav .nav-item .nav-link {
        padding: 12px 15px;
    }
    .irch-ban-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-45%, -50%);
        z-index: 1;
        width: 100%;
    }
    .irch-ban-content h1 {
        font-size: 45px;
    }
    .irch-ban-content p {
        max-width: 780px;
        margin-bottom: 20px;
    }
    .irch-heritage-details {
        padding-top: 30px;
    }
    .irch-heritage {
        padding-bottom: 50px;
    }
    .irch-gallery {
        margin-top: 0px;
        padding-bottom: 50px;
    }
    .irch-blog,
    footer {
        padding-top: 40px;
    }
    .foot-privacy a {
        margin: 0px 5px;
    }
    .foot-privacy a span {
        padding: 0px 10px;
    }
    /* home page end */
}

@media screen and (min-width:768px) and (max-width:991px) {
    /* map */
    .irch-map-locations {
        width: 42%;
    }
    /* map end*/
    /* place page start  */
    .irch-place-content,
    .irch-place-video {
        padding-top: 50px;
    }
    #irch-v-carousel .owl-nav {
        margin: 50px 0px;
    }
    /* place page end  */
    /* home page start */
    figure.gallery__item {
        margin-bottom: 2rem;
    }
    .irch-nav.navbar-nav .nav-item {
        display: block;
        text-align: left;
    }
    .irch-nav.navbar-nav .nav-item .nav-link {
        padding: 10px 20px;
    }
    .irch-nav.navbar-nav .nav-item::before {
        left: 20px;
        right: auto;
        bottom: 0px;
    }
    .navbar-nav.social-links {
        display: block;
    }
    .social-links .nav-item {
        display: inline-block;
        margin: 20px 5px 30px;
    }
    .inquiry {
        margin-bottom: 1rem;
    }
    .irch-ban-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-46%, -50%);
        z-index: 1;
        width: 100%;
    }
    .irch-ban-content h1 {
        font-size: 30px;
        margin-bottom: 15px;
    }
    .irch-ban-content p {
        margin-bottom: 20px;
    }
    .irch-heri-bx.active {
        margin-top: -70px;
    }
    .irch-heritage {
        padding-bottom: 50px;
    }
    .irch-heritage-details,
    .irch-blog {
        padding-top: 30px;
    }
    .irch-heritage-detail-content {
        padding: 40px;
    }
    .irch-gallery {
        margin-top: 0px;
        padding: 50px 0px;
    }
    .irch-video {
        margin-top: 0px;
    }
    .footer-top p,
    .footer-socials {
        margin-bottom: 2rem;
    }
    /* home page end */
}

@media screen and (min-width:601px) and (max-width:767px) {
    /* map start */
    .irch-map-locations {
        width: 100%;
        height: auto;
    }
    /* map end */
    /* place page start */
    .irch-place h1 {
        font-size: 50px;
        font-weight: bold;
        margin-bottom: 10px;
    }
    .irch-place p {
        font-size: 20px;
        font-weight: 500;
    }
    .irch-place-content,
    .irch-place-video {
        padding-top: 30px;
    }
    #irch-v-carousel .video-details {
        height: auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #irch-v-carousel .owl-nav {
        margin: 30px 0px;
    }
    /* place page end */
    /* home page */
    figure.gallery__item {
        margin-bottom: 2rem;
    }
    .navbar {
        padding: 0px;
    }
    .irch-nav.navbar-nav .nav-item {
        display: block;
        text-align: left;
    }
    .irch-nav.navbar-nav .nav-item .nav-link {
        padding: 10px 20px;
    }
    .irch-nav.navbar-nav .nav-item::before {
        left: 20px;
        right: auto;
        bottom: 0px;
    }
    .navbar-nav.social-links {
        display: block;
    }
    .social-links .nav-item {
        display: inline-block;
        margin: 20px 5px 30px;
    }
    .inquiry {
        margin-bottom: 1rem;
    }
    .irch-ban-content h1 {
        margin-bottom: 20px;
        font-size: 30px;
        padding: 0rem 1rem;
    }
    .irch-ban-content {
        position: static;
        top: 0;
        left: 0;
        transform: translate(0%, 0%);
        z-index: 1;
        background: #62718D;
    }
    .irch-ban-content h6 {
        font-size: 20px;
        margin-bottom: 10px;
        text-align: left;
        padding: 1rem;
    }
    .irch-ban-content p {
        color: #Fff;
        text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        font-style: italic;
        margin-bottom: 30px;
        padding: 0rem 1rem;
    }
    .btn.irch-ban-btn {
        background: #F4530E;
        font-size: 16px;
        font-weight: 500;
        padding: 18px 50px;
        border: 1px solid #F4530E;
        letter-spacing: 0.10px;
        color: #fff;
        font-style: italic;
        border-radius: 0px;
    }
    .irch-heri-bx.active {
        margin-top: -70px;
    }
    .irch-heri-bx {
        box-shadow: none;
        padding: 20px 15px;
    }
    .irch-heri-img {
        margin-bottom: 20px;
    }
    .irch-heri-content .irch-heri-title,
    .irch-heri-content p {
        margin-bottom: 10px;
    }
    .video-title p {
        max-width: 100%;
    }
    .btn.irch-heri-btn {
        padding: 8px 40px;
    }
    .irch-heritage {
        padding-bottom: 30px;
    }
    .irch-heritage-details {
        padding-top: 30px !important;
    }
    .irch-heritage-detail-content {
        padding: 30px 20px;
    }
    .irch-gallery {
        margin-top: 0px;
        padding: 30px 0px;
    }
    .irch-video {
        margin-top: 30px;
    }
    #irch_video {
        height: 350px;
    }
    .video-details {
        position: absolute;
        width: 100%;
        z-index: 1;
        display: block;
        justify-content: space-around;
        height: 100%;
        align-items: center;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -10%);
        text-align: center;
        padding: 15px;
    }
    .video-icon .btn-play {
        display: inline-block;
        margin-top: 1rem;
        text-align: center;
    }
    .video-title h3 {
        font-size: 30px;
        max-width: 100%;
        line-height: 30px;
    }
    .irch-contact-bx {
        position: relative;
        z-index: 1;
        margin-top: 0;
        padding: 40px 15px;
    }
    .irch-left {
        padding: 15px;
    }
    .irch-frm-btn {
        padding: 18px 40px;
    }
    .irch-frm-icon {
        margin: 50px;
    }
    .irch-blog {
        padding-top: 30px;
    }
    .irch-gallery h3,
    .irch-contact-us h3 {
        font-size: 18px;
    }
    .irch-gallery p,
    .irch-contact-us p {
        font-size: 16px;
        margin-bottom: 20px;
    }
    footer {
        padding-top: 50px;
    }
    .footer-top {
        padding: 30px 0px;
    }
    .footer-top p {
        margin-bottom: 2rem;
    }
    .footer-top .foot-title {
        margin-bottom: 10px;
    }
    .foot-links {
        margin-bottom: 30px;
    }
    .foot-links li a {
        margin: 10px 0px;
    }
    .news-btn {
        position: absolute;
        background: #f4530e;
        border-radius: 0px;
        top: 0;
        right: 0;
        top: 8px;
        right: 10px;
        color: #fff;
        font-size: 14px;
        font-weight: 500;
        padding: 10px 15px;
    }
    .news-frm .form-control {
        border-radius: 0px;
        padding: 30px 15px;
    }
    .footer-socials,
    .foot-copyrights {
        margin-bottom: 20px;
    }
    .foot-privacy {
        text-align: left;
    }
    .foot-privacy a {
        margin: 0px 5px;
    }
    .foot-privacy a span {
        padding: 0px 10px;
    }
    /* home page end */
}

@media screen and (min-width:481px) and (max-width:600px) {
    /* map start */
    .irch-map-locations {
        width: 100%;
        height: auto;
    }
    /* map end */
    /* place page start */
    .irch-place h1 {
        font-size: 50px;
        font-weight: bold;
        margin-bottom: 10px;
    }
    .irch-place p {
        font-size: 20px;
        font-weight: 500;
    }
    .irch-place-content,
    .irch-place-video {
        padding-top: 30px;
    }
    #irch-v-carousel .video-details {
        height: auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #irch-v-carousel .owl-nav {
        margin: 30px 0px;
    }
    /* place page end */
    /* home page */
    figure.gallery__item {
        margin-bottom: 2rem;
    }
    .navbar {
        padding: 0px;
    }
    .irch-nav.navbar-nav .nav-item {
        display: block;
        text-align: left;
    }
    .irch-nav.navbar-nav .nav-item .nav-link {
        padding: 10px 20px;
    }
    .irch-nav.navbar-nav .nav-item::before {
        left: 20px;
        right: auto;
        bottom: 0px;
    }
    .navbar-nav.social-links {
        display: block;
    }
    .social-links .nav-item {
        display: inline-block;
        margin: 20px 5px 30px;
    }
    .inquiry {
        margin-bottom: 1rem;
    }
    .irch-ban-content h1 {
        margin-bottom: 20px;
        font-size: 30px;
        padding: 0rem 1rem;
    }
    .irch-ban-content {
        position: static;
        top: 0;
        left: 0;
        transform: translate(0%, 0%);
        z-index: 1;
        background: #62718D;
    }
    .irch-ban-content h6 {
        font-size: 20px;
        margin-bottom: 10px;
        text-align: left;
        padding: 1rem;
    }
    .irch-ban-content p {
        color: #Fff;
        text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        font-style: italic;
        margin-bottom: 30px;
        padding: 0rem 1rem;
    }
    .btn.irch-ban-btn {
        background: #F4530E;
        font-size: 16px;
        font-weight: 500;
        padding: 18px 50px;
        border: 1px solid #F4530E;
        letter-spacing: 0.10px;
        color: #fff;
        font-style: italic;
        border-radius: 0px;
    }
    .irch-heri-bx.active {
        margin-top: -70px;
    }
    .irch-heri-bx {
        box-shadow: none;
        padding: 20px 15px;
    }
    .irch-heri-img {
        margin-bottom: 20px;
    }
    .irch-heri-content .irch-heri-title,
    .irch-heri-content p {
        margin-bottom: 10px;
    }
    .btn.irch-heri-btn {
        padding: 8px 40px;
    }
    .irch-heritage {
        padding-bottom: 30px;
    }
    .irch-heritage-details {
        padding-top: 30px !important;
    }
    .irch-heritage-detail-content {
        padding: 30px 20px;
    }
    .irch-gallery {
        margin-top: 0px;
        padding: 30px 0px;
    }
    .irch-video {
        margin-top: 30px;
    }
    #irch_video {
        height: 350px;
    }
    .video-details {
        position: absolute;
        width: 100%;
        z-index: 1;
        display: block;
        justify-content: space-around;
        height: 100%;
        align-items: center;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -10%);
        text-align: center;
        padding: 15px;
    }
    .video-icon .btn-play {
        display: inline-block;
        margin-top: 1rem;
        text-align: center;
    }
    .video-title h3 {
        font-size: 30px;
        max-width: 100%;
        line-height: 30px;
    }
    .irch-contact-bx {
        position: relative;
        z-index: 1;
        margin-top: 0;
        padding: 40px 15px;
    }
    .irch-left {
        padding: 15px;
    }
    .irch-frm-btn {
        padding: 18px 40px;
    }
    .irch-frm-icon {
        margin: 50px;
    }
    .irch-blog {
        padding-top: 30px;
    }
    .irch-gallery h3,
    .irch-contact-us h3 {
        font-size: 18px;
    }
    .irch-gallery p,
    .irch-contact-us p {
        font-size: 16px;
        margin-bottom: 20px;
    }
    footer {
        padding-top: 50px;
    }
    .footer-top {
        padding: 30px 0px;
    }
    .footer-top p {
        margin-bottom: 2rem;
    }
    .footer-top .foot-title {
        margin-bottom: 10px;
    }
    .foot-links {
        margin-bottom: 30px;
    }
    .foot-links li a {
        margin: 10px 0px;
    }
    .news-btn {
        position: absolute;
        background: #f4530e;
        border-radius: 0px;
        top: 0;
        right: 0;
        top: 8px;
        right: 10px;
        color: #fff;
        font-size: 14px;
        font-weight: 500;
        padding: 10px 15px;
    }
    .news-frm .form-control {
        border-radius: 0px;
        padding: 30px 15px;
    }
    .footer-socials,
    .foot-copyrights {
        margin-bottom: 20px;
    }
    .foot-privacy {
        text-align: left;
    }
    .foot-privacy a {
        margin: 0px 5px;
    }
    .foot-privacy a span {
        padding: 0px 10px;
    }
    /* home page end */
}

@media screen and (max-width:480px) {
    /* map start */
    .irch-map-locations {
        width: 100%;
        height: auto;
    }
    /* map end */
    /* place page start */
    .irch-place h1 {
        font-size: 50px;
        font-weight: bold;
        margin-bottom: 10px;
    }
    .irch-place p {
        font-size: 20px;
        font-weight: 500;
    }
    .irch-place-content,
    .irch-place-video {
        padding-top: 30px;
    }
    #irch-v-carousel .video-details {
        height: auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #irch-v-carousel .owl-nav {
        margin: 30px 0px;
    }
    /* place page end */
    /* home page */
    .grid-gallery {
        display: block;
    }
    .irch-grid {
        padding-top: 30px;
    }
    figure.gallery__item {
        margin-bottom: 2rem;
    }
    .navbar {
        padding: 0px;
    }
    .irch-nav.navbar-nav .nav-item {
        display: block;
        text-align: left;
    }
    .irch-nav.navbar-nav .nav-item .nav-link {
        padding: 10px 20px;
    }
    .irch-nav.navbar-nav .nav-item::before {
        left: 20px;
        right: auto;
        bottom: 0px;
    }
    .navbar-nav.social-links {
        display: block;
    }
    .social-links .nav-item {
        display: inline-block;
        margin: 20px 5px 30px;
    }
    .inquiry {
        margin-bottom: 1rem;
    }
    .irch-ban-content h1 {
        margin-bottom: 20px;
        font-size: 30px;
        padding: 0rem 1rem;
    }
    .irch-ban-content {
        position: static;
        top: 0;
        left: 0;
        transform: translate(0%, 0%);
        z-index: 1;
        background: #62718D;
    }
    .irch-ban-content h6 {
        font-size: 20px;
        margin-bottom: 10px;
        text-align: left;
        padding: 0rem 1rem;
    }
    .irch-ban-content p {
        color: #Fff;
        text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        font-style: italic;
        margin-bottom: 30px;
        padding: 0rem 1rem;
    }
    .btn.irch-ban-btn {
        background: #F4530E;
        font-size: 16px;
        font-weight: 500;
        padding: 18px 50px;
        border: 1px solid #F4530E;
        letter-spacing: 0.10px;
        color: #fff;
        font-style: italic;
        border-radius: 0px;
    }
    .irch-heri-bx.active {
        margin-top: -70px;
    }
    .irch-heri-bx {
        box-shadow: none;
        padding: 20px 30px;
    }
    .irch-heritage {
        padding-bottom: 30px;
    }
    .irch-heritage-details {
        padding-top: 30px !important;
    }
    .irch-heritage-detail-content {
        padding: 30px 20px;
    }
    .irch-gallery {
        margin-top: 0px;
        padding: 30px 0px;
    }
    .irch-video {
        margin-top: 30px;
    }
    #irch_video {
        height: 350px;
    }
    .video-details {
        position: absolute;
        width: 100%;
        z-index: 1;
        display: block;
        justify-content: space-around;
        height: 100%;
        align-items: center;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -20%);
        text-align: center;
        padding: 15px;
    }
    .video-icon .btn-play {
        display: inline-block;
        margin-top: 1rem;
        text-align: center;
    }
    .video-title h3 {
        font-size: 30px;
        line-height: 30px;
    }
    .irch-contact-bx {
        position: relative;
        z-index: 1;
        margin-top: 0;
        padding: 40px 15px;
    }
    .irch-left {
        padding: 15px;
    }
    .irch-frm-btn {
        padding: 18px 40px;
    }
    .irch-frm-icon {
        margin: 50px;
    }
    .irch-blog {
        padding-top: 30px;
    }
    .irch-gallery h3,
    .irch-contact-us h3 {
        font-size: 18px;
    }
    .irch-gallery p,
    .irch-contact-us p {
        font-size: 16px;
        margin-bottom: 20px;
    }
    footer {
        padding-top: 50px;
    }
    .footer-top {
        padding: 30px 0px;
    }
    .footer-top p {
        margin-bottom: 2rem;
    }
    .footer-top .foot-title {
        margin-bottom: 10px;
    }
    .foot-links {
        margin-bottom: 30px;
    }
    .foot-links li a {
        margin: 10px 0px;
    }
    .news-btn {
        position: absolute;
        background: #f4530e;
        border-radius: 0px;
        top: 0;
        right: 0;
        top: 8px;
        right: 10px;
        color: #fff;
        font-size: 14px;
        font-weight: 500;
        padding: 10px 15px;
    }
    .news-frm .form-control {
        border-radius: 0px;
        padding: 30px 15px;
    }
    .footer-socials,
    .foot-copyrights {
        margin-bottom: 20px;
    }
    .foot-privacy {
        text-align: left;
    }
    .foot-privacy a {
        margin: 0px 5px;
    }
    .foot-privacy a span {
        padding: 0px 10px;
    }
    /* home page end */
}