            <!-- heritage image gallery -->
            <section class="irch-gallery">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h6>Image Gallery</h6>
                            <h3>Explore the Heritage Site</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla congue gravida quam. In id sem nec arcu convallis tincidunt</p>
                        </div>
                    </div>
                    <div class="irch-gallery-carousel">
                        <div class="gallery-carousel owl-carousel owl-theme">
                            <div class="item"  *ngFor="let place of places">
                                <div class="gallery-bx gallery-card">
                                    <div class="gallery-img">
                                        <a  [routerLink]="['/place-detail', place.place_id]">
                                            <img [src]="place.icon == '' ? noImagePlaceHolder :  place.icon "  class="img-fluid" alt="">
                                        </a>
                                    </div>
                                    <div class="gallery-details">
                                        <h5>{{place.place_title}}</h5>
                                        <p>{{place.place_description}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="irch-gallery-btn text-center mt-5">
                        <a routerLink="/map"  
                        
                        class="btn irch-ban-btn">View All Images</a>
                    </div>
                </div>
            </section>
            <!-- heritage image gallery end-->

            