<main>
    <!-- main page wrapper start -->
    <div class="page-wrap">
        <app-header></app-header>
        <!-- <app-banner></app-banner>
        <app-heritage></app-heritage>
        <app-heritage-details id="heritageDetails"></app-heritage-details>
        <app-heritage-gallery></app-heritage-gallery>
        <app-grid-gallery id="gridGallery"></app-grid-gallery>
        <app-video></app-video>

        
            <app-contactus id="contactus"></app-contactus>
            <app-blog id="blog"></app-blog> -->

        <router-outlet></router-outlet>
        <!-- <app-home></app-home> -->
    </div>
    <app-footer></app-footer>
    <!-- page wrapper end -->
</main>


