            <!-- contact us  -->
            <section class="irch-contact-us pt-0">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="irch-contact-bx row">
                                <div class="irch-left col-lg-6 col-sm-6">
                                    <form action="/" class="irch-contact-frm">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Your Full Name">
                                        </div>
                                        <div class="form-group">
                                            <input type="email" class="form-control" placeholder="Your Email Address">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Your Number">
                                        </div>
                                        <div class="form-group">
                                            <textarea placeholder="What would you like to know about?" name="" class="form-control" id="" cols="30" rows="6"></textarea>
                                        </div>
                                        <div class="from-group">
                                            <a href="#" class="btn irch-frm-btn">  Send your message</a>
                                        </div>
                                    </form>
                                </div>
                                <div class="irch-right col-lg-6 col-sm-6">
                                    <div class="irch-frm-content">
                                        <div class="irch-frm-icon">
                                            <img src="assets/images/network.png" alt="Network">
                                        </div>
                                        <h5>Connect with us!</h5>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla congue gravida quam. In id sem nec arcu convallis tincidunt </p>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row irch-blog">
                        <div class="col-md-12 text-center">
                            <h6>News & Blogs</h6>
                            <h3>Read Latest On UNESCO World</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla congue gravida quam. In id sem nec arcu convallis tincidunt</p>
                        </div>

                    </div>
                    <div class="row pt-4 irch-blog-detail">
                        <div class="irch-blog-carousel owl-carousel owl-theme">
                            <ng-container *ngFor="let blog of Blogs">
                                <div class="item">
                                    <div class="gallery-bx">
                                        <div class="gallery-img">
                                            <img src="images/g-img.png" class="img-fluid" alt="">
                                        </div>
                                        <div class="gallery-details">
                                            <h5>Lorem ipsum dolor</h5>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla congue gravida quam. In id sem nec arcu convallis tincidunt</p>
                                            <div class="clearfix mt-3">
                                                <div class="float-left">
                                                    <div class="date">
                                                        <p>Dec 23 2021</p>
                                                    </div>
                                                </div>
                                                <div class="float-right">
                                                    <a href="#"><span>Read More</span>
                                                    <svg id="Forward_arrow" data-name="Forward arrow" xmlns="http://www.w3.org/2000/svg" width="28" height="18" viewBox="0 0 28 18">
                                                        <path id="Path_10" data-name="Path 10" d="M9,0,7.364,1.636l6.195,6.195H-10v2.338H13.558L7.364,16.364,9,18l9-9Z" transform="translate(10)" fill="#202b5d"/>
                                                    </svg>
                                                    
                                                </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>

                        </div>
                    </div>
                    <div class="irch-gallery-btn text-center mt-5">
                        <a href="#" class="btn irch-ban-btn">Read All</a>
                    </div>
                </div>
            </section>
            <!-- contact us end -->