<!-- contact us  -->
<section class="irch-contact-us pt-0">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="irch-contact-bx row">
                    <div class="irch-left col-lg-6 col-sm-6">
                        <form action="/" class="irch-contact-frm">
                            <div class="form-group">
                                <input type="text" name="name" [(ngModel)]="data.full_name" class="form-control" placeholder="Your Full Name">
                            </div>
                            <div class="form-group">
                                <input type="email" name="email" [(ngModel)]="data.email" class="form-control" placeholder="Your Email Address">
                            </div>
                            <div class="form-group">
                                <input type="text" name="number" [(ngModel)]="data.number" class="form-control" (keypress)="IsDigit($event)" 
                                placeholder="Your Number">
                            </div>
                            <div class="form-group">
                                <textarea placeholder="What would you like to know about?" [(ngModel)]="data.message" name="likeabout" class="form-control" 
                                    id="" cols="30" rows="6"></textarea>
                            </div>
                            <div class="from-group">
                                <a class="btn irch-frm-btn" (click)="sendMessage()">  Send your message</a>
                            </div>
                        </form>
                    </div>
                    <div class="irch-right col-lg-6 col-sm-6">
                        <div class="irch-frm-content">
                            <div class="irch-frm-icon">
                                <img src="assets/images/network.png" alt="Network">
                            </div>
                            <h5>Connect with us!</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla congue gravida quam. In id sem nec arcu convallis tincidunt </p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- contact us end -->