            <!-- heritage details start-->
            <section class="irch-heritage-details">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-xl-6 col-sm-12">
                            <div class="irch-heritage-detail-img">
                                <img src="assets/images/heritage.png" class="img-fluid" alt="Heritage"> 
                            </div>
                        </div>
                        <div class="col-lg-6 col-xl-6 col-sm-12">
                            <div class="irch-heritage-detail-content">
                                <div class="heri-detail-title">
                                    <h6 class="heri-sub-title">What is I.R.I.C.H</h6>
                                    <h2>St. Maarten’s Intangible Cultural Heritage</h2>
                                    <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla congue gravida quam. In id sem nec arcu convallis tincidunt</h6>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                                        est laborum.</p>

                                    <a href="#" class="btn irch-ban-btn">Know More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </section>
            <!-- heritage details end-->