<section class="irch-heritage">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-4 col-sm-12 col-xl-4">
                <div class="irch-heri-bx active">
                    <div class="irch-heri-content">
                        <h4 class="irch-heri-title">An initiative to promote UNESCO World Heritage Sites of St Maarten</h4>
                        <p>We want to educate people around the world about the heritage sites of St Maarten and its important cultural significance which displays its magnificent history in different forms (tangible, intangible or natural).
                            As of now, there are a total of 18 UNESCO World Heritage sites.</p>
                        <a href="#" class="btn irch-heri-btn">Know More</a>
                    </div>
                    <div class="irch-heri-img">
                        <img src="assets/images/sign.png" alt="Sign">
                    </div>
                    <div class="irch-heri-sub-title">
                        <h6>Ms. Marcellia Henry</h6>
                        <p>Secretary General for UNESCO</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-sm-6 col-xl-4">
                <div class="irch-heri-bx text-center">
                    <div class="irch-heri-img">
                        <img src="assets/images/city-hall.png" alt="City_Hall">
                    </div>
                    <div class="irch-heri-content">
                        <h4 class="irch-heri-title">Cultural Heritage</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla congue gravida quam. In id sem nec arcu convallis tincidunt</p>
                        <a href="#" class="btn irch-heri-btn">Know More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-sm-6 col-xl-4">
                <div class="irch-heri-bx text-center">
                    <div class="irch-heri-img">
                        <img src="assets/images/city-hall.png" alt="City_Hall">
                    </div>
                    <div class="irch-heri-content">
                        <h4 class="irch-heri-title">Natural Heritage</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla congue gravida quam. In id sem nec arcu convallis tincidunt</p>
                        <a href="#" class="btn irch-heri-btn">Know More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>