            <!-- video  -->
            <section class="irch-video pt-0">
                <div class="container-fluid p-0">
                    <div class="overlay">
                        <video src="assets/images/product.mp4" id="irch_video" poster="assets/images/video-poster.png"></video>
                    </div>
                    <div class="video-details">
                        <div class="video-title">
                            <h3>Watch St Maarten's Cultural Heritage Sites</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla congue gravida quam. In id sem nec arcu convallis tincidunt</p>
                        </div>
                        <div class="video-icon">
                        <!-- <button id="myBtn" class="btn-play" onclick="myFunction()">
                                <i class="fas fa-play"></i>
                            </button> -->
                            <button class="btn-play" data-toggle="modal" data-target="#videoModal">
                                <i class="fas fa-play"></i>
                            </button> 

                        </div>
                    </div>

                </div>


            </section>
            <!-- video  end-->