/* =========================== Font Face ============================== */

@font-face {
    font-family: 'Cabin';
    src: url('/assets/fonts/fa-brands-400.woff2') format('woff2'), url('/assets/fonts/Cabin-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Cabin';
    src: url('/assets/fonts/Cabin-Bold.woff2') format('woff2'), url('/assets/fonts/Cabin-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cabin';
    src: url('/assets/fonts/Cabin-Italic.woff2') format('woff2'), url('/assets/fonts/Cabin-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Cabin';
    src: url('/assets/fonts/Cabin-Medium.woff2') format('woff2'), url('/assets/fonts/Cabin-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cabin';
    src: url('/assets/fonts/Cabin-SemiBold.woff2') format('woff2'), url('/assets/fonts/Cabin-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cabin';
    src: url('/assets/fonts/Cabin-SemiBoldItalic.woff2') format('woff2'), url('/assets/fonts/Cabin-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Cabin';
    src: url('/assets/fonts/Cabin-MediumItalic.woff2') format('woff2'), url('/assets/fonts/Cabin-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Cabin';
    src: url('/assets/fonts/Cabin-Regular.woff2') format('woff2'), url('/assets/fonts/Cabin-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


/* =========================== Base css ============================== */

* {
    margin: 0;
}

html,
body {
    height: 100%;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: 'Cabin', sans-serif;
    color: #62718D;
    font-style: italic;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

a {
    text-decoration: none;
    outline: none;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    color: #62718D;
}

form {
    margin-bottom: 0px;
}

a:hover {
    text-decoration: none;
    color: #F4530E;
}

a:focus {
    outline: none;
    color: #0e79ed;
}

a.underline-text {
    text-decoration: underline;
}

.container,
.container-lg,
.container-md,
.container-sm,
.container-xl {
    max-width: 1400px;
}

input,
select,
textarea,
button,
label {
    outline: none;
}

a:focus {
    outline: none;
    text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

img {
    vertical-align: middle;
    border: 0px;
    max-width: 100%;
}

ul {
    margin: 0px;
    padding: 0px;
}

ul li {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

textarea {
    resize: none;
}

::-webkit-input-placeholder {
    color: #202B5D !important;
    font-weight: 600;
    font-style: italic;
    font-size: 18px;
}

::-moz-placeholder {
    color: #202B5D !important;
    font-weight: 600;
    font-style: italic;
    font-size: 18px;
}

:-ms-input-placeholder {
    color: #202B5D !important;
    font-weight: 600;
    font-style: italic;
    font-size: 18px;
}

:-moz-placeholder {
    color: #202B5D !important;
    font-weight: 600;
    font-style: italic;
    font-size: 18px;
}

::-webkit-file-upload-button {
    cursor: pointer;
}

.page-wrap {
    min-height: 100%;
}

.page-wrap:after {
    content: "";
    display: block;
}


/* =========================== Home page start ============================== */

section {
    padding-top: 100px;
}

.menu {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    padding: 0;
}

.line {
    fill: none;
    stroke: #202B5D;
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}

.line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
}

.line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}

.opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}

.opened .line {
    stroke: #F4530E;
}

.opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
}

.opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}

.irch-nav.navbar-nav .nav-item .nav-link {
    font-size: 16px;
    font-weight: 500;
    font-style: italic;
    color: #62718D;
    position: relative;
    padding: 12px 20px;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.irch-nav.navbar-light .navbar-nav .active>.nav-link,
.irch-nav.navbar-light .navbar-nav .nav-link.active,
.irch-nav.navbar-light .navbar-nav .nav-link.show,
.irch-nav.navbar-light .navbar-nav .show>.nav-link {
    color: #F4530E;
    font-weight: 600;
    position: relative;
}

.irch-nav.navbar-nav .nav-item::before {
    content: '';
    background: transparent;
}

.irch-nav.navbar-nav .nav-item .nav-link:hover,
.irch-nav.navbar-nav .nav-item.active .nav-link {
    color: #F4530E;
}

.irch-nav.navbar-nav .nav-item.active::before {
    content: '';
    background: #F4530E;
    opacity: 1;
}

.irch-nav.navbar-nav .nav-item.active:hover::before,
.irch-nav.navbar-nav .nav-item:hover::before {
    content: '';
    background: #F4530E;
    opacity: 1;
}

.irch-nav.navbar-nav .nav-item {
    position: relative;
    text-align: center;
}

.irch-nav.navbar-nav .nav-item::before {
    content: '';
    width: 20px;
    height: 5px;
    margin: 0px auto;
    position: absolute;
    bottom: -5px;
    background: #F4530E;
    z-index: 1;
    left: 0px;
    right: 0px;
    opacity: 0;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.iqnum h6 {
    font-size: 14px;
    font-weight: 500;
    font-style: italic;
}

.iqnum h3 {
    color: #F4530E;
    font-weight: 600;
    font-style: italic;
}

.social-links .nav-item {
    background: #62718D;
    margin: 0px 5px;
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
}

.social-links .nav-item .nav-link {
    padding: 0px;
}

.irch-ban-carousel.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 10px;
    position: absolute;
    z-index: 1;
    right: 20px;
    bottom: 20px;
}

.irch-ban-carousel.owl-theme .owl-dots .owl-dot.active span,
.irch-ban-carousel.owl-theme .owl-dots .owl-dot:hover span {
    background: #fff;
    width: 20px;
}

.irch-ban-carousel.owl-theme .owl-dots .owl-dot span {
    margin: 5px;
}

.irch-ban-carousel.owl-carousel .item .overlay {
    position: relative;
}

.irch-ban-carousel .item .overlay::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background: rgba(32, 43, 93, 0.50);
}

.irch-ban-carousel {
    position: relative;
}

.irch-ban-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-90%, -50%);
    z-index: 1;
}

.irch-ban-content h6 {
    color: #F9DA07;
    text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
    font-size: 24px;
    font-weight: 600;
    font-style: italic;
    margin-bottom: 10px;
}

.irch-ban-content h1 {
    color: #Fff;
    text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
    font-size: 60px;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 30px;
}

.irch-ban-content p {
    color: #Fff;
    text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    font-style: italic;
    margin-bottom: 60px;
}

.btn.irch-ban-btn {
    background: #F4530E;
    font-size: 20px;
    font-weight: 500;
    padding: 18px 50px;
    border: 1px solid #F4530E;
    letter-spacing: 0.10px;
    color: #fff;
    font-style: italic;
    border-radius: 0px;
}

.btn.irch-ban-btn:hover {
    background: transparent;
    color: #F4530E;
}

.irch-heritage {
    background: #f3f3f3;
    padding-bottom: 100px;
}

.irch-heri-bx {
    background: #fff;
    padding: 40px 30px;
    -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
}

.irch-heri-img {
    margin-bottom: 30px;
}

.irch-heri-content .irch-heri-title {
    font-size: 28px;
    font-weight: 600;
    color: #202B5D;
    margin-bottom: 30px;
}

.irch-heri-content p {
    font-size: 18px;
    font-weight: 400;
    color: #62718D;
    line-height: 28px;
    letter-spacing: 0.20px;
    margin-bottom: 50px;
}

.btn.irch-heri-btn {
    font-size: 20px;
    font-weight: 500;
    padding: 18px 50px;
    letter-spacing: 0.10px;
    color: #F4530E;
    border: 1px solid #F4530E;
    font-style: italic;
    border-radius: 0px;
}

.btn.irch-heri-btn:hover {
    background: #F4530E;
    color: #fff;
}

.irch-heri-bx.active {
    margin-top: -150px;
    position: relative;
    z-index: 1;
    background: #202B5D;
    color: #fff;
    font-style: italic;
    padding-bottom: 1px;
}

.irch-heri-bx.active .irch-heri-title {
    font-size: 26px;
    font-weight: 500;
    line-height: 32px;
    color: #fff;
    margin-bottom: 15px;
}

.irch-heri-bx.active p {
    color: rgba(255, 255, 255, 0.50);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 20px;
}

.irch-heri-bx.active .irch-heri-img {
    margin: 30px 0px;
}

.irch-heri-sub-title h6 {
    font-size: 16px;
    font-weight: 500;
    font-style: italic;
    color: #F4530E;
}

.irch-heri-sub-title p {
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.50);
}

.heri-detail-title h6,
.irch-grid p {
    color: #202B5D;
    font-size: 16px;
    margin-bottom: 20px;
}

.heri-detail-title h2,
.irch-grid-title h3 {
    font-size: 28px;
    font-weight: 600;
    color: #F4530E;
    margin-bottom: 20px;
}

.heri-detail-title p {
    font-size: 16px;
    color: #62718D;
    margin-bottom: 30px;
}

.irch-heritage-detail-img img {
    width: 100%;
    height: auto;
    display: block;
}

.irch-heritage-detail-content {
    padding: 80px 40px;
}

.heri-detail-title .heri-sub-title,
.irch-grid-title h6,
.irch-map-locations .heri-sub-title {
    position: relative;
    padding-left: 2rem;
}

.heri-detail-title .heri-sub-title::before,
.irch-grid-title h6::before,
.irch-map-locations .heri-sub-title::before {
    content: "";
    display: block;
    background: #F4530E;
    width: 20px;
    height: 6px;
    position: absolute;
    left: 0px;
    top: 5px;
    border-radius: 5px;
}

.irch-gallery {
    background: url('/assets/images/gallery-bg.png');
    background-position: center;
    background-size: cover;
    margin-top: 100px;
    background-repeat: no-repeat;
    padding-bottom: 100px;
}

.irch-gallery h6,
.irch-contact-us h6,
.irch-place-video h6 {
    font-size: 18px;
    font-weight: bold;
    color: #202B5D;
    margin-bottom: 20px;
    position: relative;
    letter-spacing: 1px;
    display: inline-block;
    text-transform: uppercase;
}

.irch-place-video h6 {
    position: relative;
}

.irch-gallery h6::before,
.irch-contact-us h6::before,
.irch-place-video h6::before {
    content: "";
    background: #F4530E;
    width: 20px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    left: -30px;
    top: 8px;
}

.irch-gallery h6::after,
.irch-contact-us h6:after,
.irch-place-video h6::after {
    content: "";
    background: #F4530E;
    width: 20px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    right: -30px;
    top: 8px;
}

.irch-gallery h3,
.irch-contact-us h3,
.irch-place-video h3 {
    font-size: 28px;
    color: #F4530E;
    font-weight: bold;
    margin-bottom: 15px;
}

.irch-gallery p,
.irch-contact-us p {
    font-size: 18px;
    color: #202B5D;
    line-height: 25px;
    font-weight: 500;
    margin: 0px auto;
    max-width: 600px;
    margin-bottom: 30px;
}

.gallery-bx {
    padding: 20px;
}

.gallery-bx .gallery-img {
    margin-bottom: 20px;
}

.gallery-details h5 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #F4530E;
}

.gallery-details p {
    font-size: 16px;
    font-weight: 500;
    color: #62718D;
    margin-bottom: 10px;
    position: relative;
}

.gallery-details p::before {
    content: "\f3c5";
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    font-size: 18px;
    color: #202B5D;
    margin-right: 0.5rem;
    font-style: normal;
}

.gallery-carousel .item {
    background: #fff;
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

.gallery-carousel .owl-nav {
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
}

.gallery-carousel.owl-carousel .owl-nav button.owl-next,
#irch-v-carousel.owl-carousel .owl-nav button.owl-next,
#irch-v-carousel.owl-carousel .owl-nav button.owl-prev,
.gallery-carousel.owl-carousel .owl-nav button.owl-prev,
.gallery-carousel.owl-carousel button.owl-dot,
#irch-v-carousel.owl-carousel button.owl-dot {
    width: 60px;
    height: 60px;
    background: #fff;
    border-radius: 50%;
    display: block;
    color: #F4530E;
    -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
}

.gallery-carousel .owl-nav .owl-prev,
.gallery-carousel .owl-nav .owl-next {
    position: absolute;
    background: #fff;
    display: block;
    border-radius: 50%;
    z-index: 100;
}

.gallery-carousel .owl-nav .owl-next i {
    font-size: 16px;
    color: #F4530E;
}

.gallery-carousel .owl-nav .owl-prev {
    left: 0px;
}

.gallery-carousel .owl-nav .owl-next {
    right: 0px;
}

.grid-gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 30px;
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}

.gallery__item {
    position: relative;
}

.gallery__item::before {
    content: '';
    background: rgba(32, 43, 93, 0.30);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}

.gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 5;
}

.gallery__item--2 {
    grid-column-start: 3;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 5;
}

.gallery__item--3 {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 5;
}

.gallery__item--4 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 10;
}

.gallery__item--5 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 5;
    grid-row-end: 10;
}

.gallery-img-btn {
    position: relative;
    margin-top: -40px;
    margin-left: 20px;
    z-index: 1;
}

.gallery-img-btn a {
    color: #fff;
    font-weight: 500;
    font-size: 16px;
}

.gallery-img-btn a svg {
    margin-left: 1rem;
}

.gallery-img-btn a svg path {
    fill: #fff;
}

.irch-video {
    position: relative;
    margin-top: 100px;
}

#irch_video {
    width: 100%;
    height: 560px;
    object-fit: cover;
    object-position: center;
    position: relative;
}

.overlay {
    position: relative;
}

.overlay::before {
    content: '';
    background: rgba(10, 18, 57, 0.65);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}

.video-details {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-around;
    height: 100%;
    align-items: center;
}

.video-title h3 {
    font-size: 35px;
    color: #F4530E;
    line-height: 50px;
    max-width: 350px;
    font-weight: 600;
    margin-bottom: 20px;
}

.video-title p {
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    max-width: 560px;
}

.video-icon .btn-play {
    display: block;
    color: #202B5D;
    width: 60px;
    height: 60px;
    border: 0px;
    background: #fff;
    text-align: center;
    line-height: 60px;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
}

.irch-left {
    padding: 40px;
    background: #fff;
}

.irch-right {
    background: #F4530E;
    -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.irch-contact-bx {
    position: relative;
    z-index: 1;
    margin-top: -100px;
    padding: 40px;
}

.irch-contact-frm .form-control {
    border: 1px solid #f2f2f2;
    border-radius: 0px;
    padding: 30px;
}

.irch-frm-icon {
    margin-bottom: 50px;
}

.irch-frm-content h5 {
    color: #fff;
    font-size: 30px;
    margin-bottom: 1rem;
}

.irch-frm-content p {
    font-size: 18px;
    color: #fff;
    max-width: 350px;
    line-height: 26px;
}

.irch-frm-btn {
    display: block !important;
    background: #202B5D !important;
    font-size: 20px !important;
    font-weight: 500 !important;
    padding: 18px 50px !important;
    font-style: italic !important;
    text-align: center !important;
    color: #fff !important;
}

.irch-contact-us {
    background: #f3f3f3 url('/assets/images/Asset 1.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}

.irch-blog {
    padding-top: 100px;
}

.irch-blog-detail .gallery-img img {
    width: 100%;
}

.irch-blog-detail .gallery-bx {
    background: #fff;
}

.irch-blog-detail .gallery-details p::before {
    display: none;
}

.float-left p {
    color: #62718D;
    font-size: 14px;
    font-weight: 500;
}

.float-right a {
    font-size: 16px;
    color: #202B5D;
    font-weight: 600;
    position: relative;
    -webkit-text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    -moz-text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    -ms-text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    z-index: 1;
}

.float-right svg {
    margin-left: 1rem;
}

.float-right a::before {
    content: '';
    background: #F4530E;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: -8px;
    display: block;
    margin: 0px auto;
    position: absolute;
    left: 40%;
    z-index: -1;
    opacity: 0;
}

.float-right a:hover::before {
    content: '';
    opacity: 1;
}

.irch-blog-carousel.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 3rem;
}

.irch-blog-carousel.owl-theme .owl-dots .owl-dot.active span,
.irch-blog-carousel.owl-theme .owl-dots .owl-dot:hover span {
    background: #f4530e;
    width: 20px;
}

footer {
    background: #f3f3f3;
    padding-top: 100px;
}

.footer-top {
    background: #202B5D;
    border-top: 5px solid #F4530E;
    padding: 60px 0px;
}

.footer-top .logo {
    margin-bottom: 30px;
}

.footer-top p {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 23px;
}

.footer-top .foot-title {
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.foot-links li a {
    display: block;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.80) !important;
    font-size: 16px;
    font-weight: 500;
    margin: 12px 0px;
}

.newsletter p {
    font-size: 16px;
    line-height: 22px;
    color: rgba(255, 255, 255, 0.80);
    margin-bottom: 20px;
}

.news-frm .form-control {
    border-radius: 0px;
    padding: 30px;
}

.news-frm .form-group {
    position: relative;
}

.news-btn {
    position: absolute !important;
    background: #f4530e !important;
    border-radius: 0px !important;
    top: 0 !important ;
    right: 0 !important;
    top: 8px !important;
    right: 10px !important;
    color: #fff !important;
    font-size: 16px !important;
    font-weight: 500 !important;
    padding: 10px 30px !important;
}

.news-frm input::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.50) !important;
    font-weight: 600;
    font-style: italic;
    font-size: 16px;
}

.news-frm input::-moz-placeholder {
    color: rgba(0, 0, 0, 0.50) !important;
    font-weight: 600;
    font-style: italic;
    font-size: 16px;
}

.news-frm input:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.50) !important;
    font-weight: 600;
    font-style: italic;
    font-size: 16px;
}

.news-frm input:-moz-placeholder {
    color: rgba(0, 0, 0, 0.50) !important;
    font-weight: 600;
    font-style: italic;
    font-size: 16px;
}

.footer-bottom {
    background: #62718D;
    padding: 30px 0px;
}

.footer-socials li {
    display: inline-block;
    margin: 0px 5px;
    background: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
}

.footer-socials li a svg path {
    fill: #202B5D;
}

li.social-title,
.foot-copyrights p {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.50);
    margin-right: 0.5rem;
    width: auto;
    height: auto;
    background: transparent;
    font-weight: 600;
}

.foot-privacy a {
    font-size: 16px;
    font-weight: 500;
    display: inline-block;
    margin: 0px 10px;
    color: #fff;
}

.foot-privacy a span {
    padding: 0px 20px;
}

.foot-privacy a span:nth-child(3) {
    padding-left: 0px;
}

.gallery-img-btn a .irch-ficon {
    position: relative;
}

.gallery-img-btn a .irch-ficon::before {
    content: '';
    background: #F4530E;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: -8px;
    display: block;
    margin: 0px auto;
    position: absolute;
    left: -20%;
    z-index: -1;
    opacity: 0;
}

.gallery-img-btn a:hover .irch-ficon::before {
    content: '';
    opacity: 1;
}


/* =========================== Home page end ============================== */


/* =========================== Place page start ============================== */

.irch-place {
    background: url('assets/images/place.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    min-height: 560px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding-top: 100px;
}

.irch-place::before {
    content: '';
    background: rgba(32, 43, 93, 0.30);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

.irch-place h1 {
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 10px;
}

.irch-place p {
    font-size: 30px;
    font-weight: 500;
}

.irch-place-details p {
    font-size: 16px;
    color: #62718D;
    margin-bottom: 30px;
    text-align: center;
}

.irch-back {
    font-size: 16px;
    font-weight: 600;
    color: #F4530E;
    display: block;
    margin-bottom: 1rem;
}

.irch-back svg {
    vertical-align: baseline;
}

.irch-place-video {
    overflow-x: hidden;
}

#irch-v-carousel .owl-nav {
    display: inline-block !important;
    width: 100%;
    margin-bottom: 100px;
    margin-top: 50px;
}

#irch-v-carousel.owl-carousel .owl-nav button.owl-next,
#irch-v-carousel.owl-carousel .owl-nav button.owl-prev,
#irch-v-carousel.owl-carousel button.owl-dot {
    width: 60px;
    height: 60px;
    background: #fff;
    border-radius: 50%;
    display: inline-block;
    color: #F4530E;
    -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
}

#irch-v-carousel.owl-carousel .owl-nav button.owl-next {
    margin-left: 2rem;
}


/* =========================== Place page end ============================== */


/* =========================== Map start ============================== */

.mapouter {
    position: relative;
    text-align: right;
    width: 100%;
    height: 988px;
}

.gmap_canvas {
    overflow: hidden;
    background: none!important;
    width: 100%;
    height: 988px;
    position: relative;
}

.gmap_iframe {
    width: 100%!important;
    height: 988px!important;
}

.irch-map-locations {
    width: 30%;
    background: rgba(255, 255, 255, 0.90);
    padding: 20px;
    position: absolute;
    top: 0;
    height: 100%;
    text-align: left;
}

.irch-map-title h4 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: #F4530E;
}

.irch-map-title h6 {
    font-size: 16px;
    color: #62718D;
    line-height: 20px;
}

.push-right {
    margin-left: auto;
    margin-right: 2rem;
}

.irch-map-location li {
    border-bottom: 1px solid rgba(112, 112, 112, 0.30);
    padding-bottom: 25px;
}

.irch-map-location li img {
    border-radius: 10px;
    -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
}

.btn-location {
    background: #F4530E;
    color: #fff;
}

.btn-location i {
    color: #fff;
    -webkit-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

.btn-location:not(.collapsed) .rotate-icon {
    transform: rotate(180deg);
    color: #fff;
}


/* =========================== Map  end ============================== */


/****************************** Style By Harshad  Start ******************************/


/* **********  Blog Page Start   ************ */

.irch-blog-content {
    padding-bottom: 100px;
}


/* **********  Blog Page End   ************ */


/* **********   Map Page Start   ************ */

.irch-map-location li figure {
    width: 80px;
    height: 80px;
}

.irch-map-location li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.irch-map-location li .irch-map-title {
    width: calc(100% - 150px);
}

.irch-map-location li a .d-flex>div:last-child {
    width: 45px;
}

.ir-gmap-popup {
    /* position: absolute; */
    top: 50%;
    left: 50%;
    background-color: rgba(255, 255, 255, 0.9);
    text-align: left;
    padding: 15px;
    border-radius: 20px;
    width: 420px;
    max-width: 100%;
}

.ir-gmap-popup figure {
    width: 80px;
    height: 80px;
}

.ir-gmap-popup figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 8px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.16);
}

.ir-gmap-popup .irch-map-title h4 {
    font-style: normal;
}

.ir-gmap-popup .Forward_arrow {
    width: 21px;
}

.ir-gmap-popup .irch-map-title {
    width: calc(100% - 80px - 37px);
}

.ir-gmap-popup .irch-map-title h6 {
    font-style: normal;
}

.ir-gmap-popup>p {
    color: #62718D;
    opacity: 0.6;
    font-style: normal;
    margin-bottom: 10px;
}

.popup-link-list a {
    color: #F4530E;
    font-style: normal;
    padding-bottom: 2px;
    border-bottom: 1px solid #F4530E;
    display: inline-block;
    margin-right: 28px;
}

.popup-link-list a:hover {
    color: #F4530E;
    opacity: 0.8;
}

.ir-gmap-popup::after {
    content: "";
    position: absolute;
    top: 100%;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 10px solid #ffffff;
    left: 50%;
    transform: translateX(-50%);
}

.stickyNav{
    position: fixed !important;
    width: 100% !important;
    background-color: #fff !important;
    z-index: 2;
    padding-left: 0px !important;
}

/* **********   Map Page End   ************ */


/****************************** Style By Harshad  End ******************************/